/* 面板组件 */
.weui-panel{
    background-color: var(--weui-BG-2);
    margin-top: 10px;
    position: relative;
    /* 超出隐藏,不要有滚动框 */
    overflow: hidden;

}
/*.weui-panel:first-child 选中的是一类元素,所有的weui-panel的第一个,如果是第一个没必要margin-top 0, */
/* 其余的会和前面的panel 有个margin-top 如果：和英文之间加了空歌 */
/* .weuipanel */
.weui-panel:first-child{
    margin-top: 0px;
}
.weiui-panel__hd{
    padding: 16px 16px 13px;
    color: var(--weui-FG-0);
    font-size: 15px;
    font-weight: 500;
    position: relative;
}